<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.digitalchakra.profilechameleon"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.digitalchakra.profilechameleon.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.digitalchakra.profilechameleon.ConfigActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="in.digitalchakra.profilechameleon.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.digitalchakra.profilechameleon.MainActivity" />
        </activity>

        <service android:name="in.digitalchakra.profilechameleon.Service_class" />

        <activity
            android:name="in.digitalchakra.profilechameleon.AboutActivity"
           android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
